*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #31333b;
}

header{
    /* border: 2px solid red; */
    display: flex;
    height: 20vh;
    background-color: #34353a;
}

.gen-layout{
    max-width: 1000px;
    margin: auto;
}

.Top{
    /* border: 2px solid green; */
    width: 100rem;
    display: flex;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .Top {
                  /* border: 2px solid red; */
                  width: 80rem;
           }
        }

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .Top >img{
                  /* border: 2px solid red; */
                  width: 30px;
                  height: 7vh;
                  margin-left: 0.4rem;
           }
        }

.Top-right{
    /* border: 2px solid white; */
    width: 1000px;
    display: flex;
    margin: auto;
    margin-left: 7rem;
    margin-top: 1.5rem;
    align-items: center;
    gap: 3rem;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .Top-right{
                  /* border: 2px solid red; */
                  width: 18.5rem;
                  margin-left: 0.2rem;
                  margin-top: 1.5rem;
                  align-items: center;
                  gap: 1rem;
           }
        }

 .Top-item{
    display: flex;
    /* gap: 3rem; */
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .Top-item{
                  gap: 0.09rem;
           }
        }

.Top-item > a{
    text-decoration: none;
    text-transform: capitalize;
    color: gray;
    margin-left: 1.5rem;
    /* border: 2px solid red; */
    font-weight: 450;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .Top-item >a{
                  /* border: 2px solid red; */
                  margin-left: 0.3rem;
                  font-size: 11.5px;
                  font-weight: 540;
           }
        }

.Top-item > a:hover{
    color: white;
}

.banner{
    /* border: 2px solid red; */
    background-color:  #34353a;
    margin-bottom: 1rem;
    /* box-shadow: 0 10px 12px rgba(25, 25, 25, .2); */
    box-shadow: .1rem .4rem 10px rgb(32, 31, 31);
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .banner{
                  /* border: 2px solid red; */
           }
        }
.banner-container{
    display: flex;
    /* border: 2px solid blue */
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .banner-container{
                  /* border: 2px solid red; */
                  display: flex;
           }
        }

.banner-content{
    /* border: 2px solid green; */
    width: 27.7rem;
    margin-block: 3rem;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .banner-content{
                  /* border: 2px solid red; */
                  width: 9.5rem;
                  padding-left: 0.5rem;
           }
        }

.banner-content >h1{
    color: white;
    font-size: 2.5rem;
    margin-top: 4rem;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .banner-content >h1{
                  /* border: 2px solid blue; */
                  font-size: 2rem;
                  width: 9.5rem;
                  margin-top: 1.5rem;
           }
        }

.banner-content >h1 >span{
    color: #ffc86b;
    font-size: 3.5rem;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .banner-content >h1 >span{
                  /* border: 2px solid blue; */
                  font-size: 2.8rem;
                  color: #ffc86b;
           }
        }

.banner-content >p{
    color: white;
    /* border: 2px solid red; */
    font-size: 1.6rem;
    width: 15rem;
    margin-block: 1rem;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .banner-content >p{
                  /* border: 2px solid rgb(221, 0, 255); */
                  font-size: 1.5rem;
                  width: 9.5rem;
           }
        }

.banner-content > a{
    padding: 1rem 3rem;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    border: 4px solid #ffc86b;
    color: #fff;
    margin-block: 1.5rem;
}

.banner-content > a > button{
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #fff;
    margin-block: 1.5rem;
}

.banner-content > a:hover{
    background-color: #ffc86b;
    color: #000;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .banner-content >a{
                  /* border: 4px solid rgb(255, 196, 0); */
                  padding: 1rem 2rem;
                  margin-block: 1rem;
           }
        }
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .banner-content >a{
                  /* border: 4px solid rgb(255, 196, 0); */
                  padding: 1rem 2rem;
                  margin-block: 1rem;
           }
        }

.banner-image{
    /* border: 2px solid red; */
    width: 30rem;
    margin-left: 5rem;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .banner-image{
                  /* border: 2px solid rgb(255, 196, 0); */
                  width: 11.5rem;
                  margin-left: -0.01rem;
           }
        }

.banner-image >img{
    /* border: 2px solid gold; */
    /* background-color: #26272e; */
    border-top: 2px;
    border-bottom: 1px;
    border-left: 7px solid #ffc86b;
    border-right: 7px solid #ffc86b;
    width: 30rem;
    height: 97vh;
    /* background-size: cover; */
    /* background-position: bottom; */
    border-radius: 50%;
    margin-left: 2rem;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .banner-image >img{
                  /* border: 2px solid rgb(255, 196, 0); */
                  border-left: 5px solid #ffb73a;
                  border-right: 5px solid #ffb73a;
                  width: 11.3rem;
                  height: 50vh;
                  margin-top: 2.5rem;
           }
        }

.AMP{
    /* border: 2px solid red; */
    background-color: #31333b;
}

.About{
    /* border: 2px solid red; */
}

.aboutMe >h1{
    color: white;
    font-size: 3.5rem;
    margin-top: 4rem;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .aboutMe >h1{
                  /* border: 2px solid rgb(255, 196, 0); */
                  font-size: 3.5rem;
                  margin-left: 4.5rem;
                  width: 16rem;
           }
        }

.aboutMe >p{
    color: white;
    font-size: 1.6rem;
    width: 50rem;
    margin-block: 2rem;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .aboutMe >p{
                  /* border: 2px solid rgb(255, 196, 0); */
                  font-size: 1.4rem;
                  padding-left: 0.5rem;
                  margin-left: 0.7rem;
                  width: 23rem;
           }
        }

.aboutMe >p >span{
    color: #ffc86b;
}   

.Skills{
    /* border: 2px solid red; */
    margin-block: 4rem;
}

.Skills-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .Skills-box{
                  /* border: 2px solid green; */
                  display:block;
           }
        }

.Skills-top >h1{
    color: white;
    font-size: 3.5rem;
    margin-left: 25rem;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .Skills-top >h1{
                  /* border: 2px solid green; */
                  width: 15rem;
                  margin-left: 3.5rem;
           }
        }

.mySkills-One{
    /* border: 2px solid red; */
    background-color: #36373a;
    border-radius: 10px;
    width: 18rem;
    height: 40vh;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .mySkills-One{
                  margin-left: 3rem;
                  margin-block: 1rem;
           }
        }

.mySkills-One:hover{
    background-color: #ffc86b;
    cursor: pointer;
}

.mySkills-One >img{
    /* border: 2px solid green; */
    width: 18rem;
}

.mySkills-One >h2{
    color: white;
    font-size: 1.5rem;
    margin-left: 5.5rem;
}

.mySkills-Two{
    /* border: 2px solid red; */
    background-color: #36373a;
    border-radius: 10px;
    width: 18rem;
    height: 40vh;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .mySkills-Two{
                  margin-left: 3rem;
           }
        }

.mySkills-Two:hover{
    background-color: #ffa200;
    cursor: pointer;
}

.mySkills-Two >img{
    /* border: 2px solid green; */
    margin-left: 4.5rem;
}

.mySkills-Two >h2{
    color: white;
    font-size: 1.5rem;
    margin-left: 3.5rem;
}

.mySkills-Three{
    /* border: 2px solid red; */
    background-color: #36373a;
    border-radius: 10px;
    width: 18rem;
    height: 40vh;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .mySkills-Three{
                  margin-left: 3rem;
                  margin-block: 1rem;
           }
        }

.mySkills-Three:hover{
    background-color: #ffc86b;
    cursor: pointer;
}

.mySkills-Three >img{
    /* border: 2px solid green; */
    margin-left: 4.5rem;
}

.mySkills-Three >h2{
    color: white;
    font-size: 1.5rem;
    margin-left: 6.5rem;
}

.mySkills-Four{
    /* border: 2px solid red; */
    background-color: #36373a;
    border-radius: 10px;
    width: 18rem;
    height: 40vh;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .mySkills-Four{
                  margin-left: 3rem;
           }
        }

.mySkills-Four:hover{
    background-color: #ffa200;
    cursor: pointer;
}

.mySkills-Four >img{
    /* border: 2px solid green; */
    margin-left: 4.5rem;
}

.mySkills-Four >h2{
    color: white;
    font-size: 1.5rem;
    margin-left: 4.5rem;
}

.mySkills-Five{
    /* border: 2px solid red; */
    background-color: #36373a;
    border-radius: 10px;
    width: 18rem;
    height: 40vh;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .mySkills-Five{
                  margin-left: 3rem;
                  margin-block: 1rem;
           }
        }

.mySkills-Five:hover{
    background-color: #ffc86b;
    cursor: pointer;
}

.mySkills-Five >img{
    /* border: 2px solid green; */
    margin-left: 1.2rem;
}

.mySkills-Five >h2{
    color: white;
    font-size: 1.5rem;
    margin-left: 7rem;
}

.mySkills-Six{
    /* border: 2px solid red; */
    background-color: #36373a;
    border-radius: 10px;
    width: 18rem;
    height: 40vh;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .mySkills-Six{
                  margin-left: 3rem;
                  /* margin-block: 1rem; */
           }
        }

.mySkills-Six:hover{
    background-color: #ffa200;
    cursor: pointer;
}

.mySkills-Six >img{
    /* border: 2px solid green; */
    margin-left: 4.5rem;
}

.mySkills-Six >h2{
    color: white;
    font-size: 1.5rem;
    margin-left: 7rem;
}

.mySkills-Seven{
    /* border: 2px solid red; */
    background-color: #36373a;
    border-radius: 10px;
    width: 18rem;
    height: 40vh;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .mySkills-Seven{
                  margin-left: 3rem;
                  margin-block: 1rem;
           }
        }

.mySkills-Seven:hover{
    background-color: #ffc86b;
    cursor: pointer;
}

.mySkills-Seven >img{
    /* border: 2px solid green; */
    margin-left: 4.5rem;
}

.mySkills-Seven >h2{
    color: white;
    font-size: 1.5rem;
    margin-left: 8rem;
}

.mySkills-Eight{
    /* border: 2px solid red; */
    background-color: #36373a;
    border-radius: 10px;
    width: 18rem;
    height: 40vh;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .mySkills-Eight{
                  margin-left: 3rem;
                  margin-block: 1rem;
           }
        }

.mySkills-Eight:hover{
    background-color: #ffa200;
    cursor: pointer;
}

.mySkills-Eight >img{
    /* border: 2px solid green; */
    margin-left: 4.5rem;
}

.mySkills-Eight >h2{
    color: white;
    font-size: 1.5rem;
    margin-left: 6rem;
}

.learnedFrom-container{
    /* border: 2px solid red; */
    height: 80vh;
    background-color: #34353a;
    /* box-shadow: 0 15px 0px rgba(30, 27, 27, 0.2); */
    box-shadow: .1rem .4rem 20px rgb(32, 31, 31);
}

.learned >h1{
    /* border: 2px solid red; */
    width: 40rem;
    color: white;
    margin-block: 2rem;
    margin-left: 5rem;
    font-size: 3rem;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .learned >h1{
                  /* border: 2px solid blue; */
                  width: 23.7rem;
                  font-size: 29px;
                  font-weight: 900;
                  margin-left: 0.3rem;
           }
        }

.learnedFrom-content{
    /* border: 2px solid red; */
    margin-block: 1.2rem;
}

.learnedFrom-content >h2{
    font-size: 40px;
    margin-block: 1rem;
    color: white;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .learnedFrom-content >h2{
                  /* border: 2px solid blue; */
                  width: 22.5rem;
                  padding-left: 0.9rem;
                  font-size: 36px; 
           }
        }

.learnedFrom-content >p{
    color: white;
    margin-block: 1rem;
    /* opacity: .6; */
    font-size: 23px;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .learnedFrom-content >p{
                  font-size: 15.5px;
                  font-weight: 900;
                  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                  margin-block: 0.5rem; 
           }
        }

.learnedFrom-content >p >span{
    color: #ffc86b;
    opacity: 30;
}

.thoughtBy-content{
    /* border: 2px solid red; */
    /* margin-block: 1rem; */
}

.thoughtBy-content >h2{
    font-size: 40px;
    margin-block: 1rem;
    color: white;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .thoughtBy-content >h2{
                  margin-block: 0.1rem; 
                  padding-left: 1.8rem;
           }
        }

.thoughtBy-content >p{
    color: white;
    margin-block: 1rem;
    font-size: 23px;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .thoughtBy-content >p{
                  margin-block: 0.1rem;
                  font-size: 17px; 
                  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
           }
        }

.thoughtBy-content >p >span{
    color: #ffc86b;
}

.testimonials-container{
    /* border: 2px solid red; */
    background-color: #31333b;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .testimonials-container{
                 margin-top: 5rem;
           }
        }

.testimonials-container >h1{
    /* border: 2px solid blue; */
    width: 16rem;
    color: white;
    margin-left: 4rem;
    margin-block: 2rem;
    font-size: 50px;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .testimonials-container >h1{
                  margin-left: 3rem;
                  margin-block: 0.5rem;
           }
        }

.testimonial-image{
    /* border: 2px solid rebeccapurple; */
    display: flex;
}

.testimonial-content{
    /* border: 2px solid red; */
    width: 40rem;
    margin-left: 8rem;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .testimonial-content{
                    /* border: 2px solid red; */
                    width: 9.5rem;
                  margin-left: 0.2rem;
           }
        }

.testimonial-content >p{
    color: white;
    font-size: 25px;
    width: 40rem;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .testimonial-content >p{
                    /* border: 2px solid red; */
                    font-size: 17px;
                    width: 9.5rem;
           }
        }

.testimonial-content >p span{
    color: #ffc86b;
}

.testimonial-content >h2{
    color: white;
    margin-left: 4rem;
    margin-block: 2rem;
    font-size: 30px;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .testimonial-content >h2{
                    /* border: 2px solid red; */
                    font-size: 17px;
                    margin-left: 0.5rem;
                    width: 8rem;
           }
        }

.testimonial-content >h4{
    color: white;
    margin-left: 4rem;
    margin-block: 2rem;
    font-size: 15px;
    opacity: .7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .testimonial-content >h4{
                    /* border: 2px solid red; */
                    font-size: 17px;
                    margin-left: 0.5rem;
                    width: 8rem;
           }
        }

.images{
    /* border-: 3px solid gold; */
    border-top: 5px solid gold;
    border-bottom: 5px solid gold;
    background-color: #ffa200;
    background-image: url(./image/67817dce04246.png);
    background-position: center;
    background-size: cover;
    width: 25rem;
    height: 20rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    /* border-radius: 50%; */
    margin-block: 3rem;
}

.images:hover{
    background-image: url(./image/Amana.png);   
}

.contact-container{
    /* border: 2px solid red; */
    background-color: #34353a;
        /* box-shadow: 0 15px 0px rgba(30, 27, 27, 0.2); */
        box-shadow: .1rem .4rem 20px rgb(32, 31, 31);
    height: 50vh;
}

.head >h1{
    color: white;
    margin-left: 30rem;
    margin-top: 2rem;
    font-size: 45px;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .head >h1{
                    /* border: 2px solid red; */
                    font-size: 37px;
                    margin-left: 5rem;
                    width: 13rem;
           }
        }

.contact-contant{
    /* border: 2px solid blue; */
    display: flex;
    margin-left: 15rem;
    width: 50rem;
    gap: 8rem;
    margin-top: 8rem;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .contact-contant{
                    /* border: 2px solid red; */
                    margin-top: 5rem;
                    margin-block: 2rem;
                    margin-left: 0.5rem;
                    width: 21rem;
                    display: block;
           }
        }

.email{
    display: flex;
    border: 2px solid #ffc86b;
    background-color: #27282c;
    width: 24rem;
    height: 10vh;
}


              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .email{
                    margin-left: 1.5rem;
                    margin-top: 2rem;
                    width: 20rem;
                    margin-block: 2rem;
           }
        }


.email >img{
    margin: auto;
    margin-left: 0.5rem;
    cursor: pointer;
}

.email >a{
    color: white;
    text-decoration: none;
    /* border: 2px solid red; */
    margin: 0.8rem auto;
    margin-left: 1.3rem;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .email >a{
                    font-size: 13px;
                    color: white;
                    margin-top: 1.5rem;
                    /* margin-left: 0.4rem; */
        }
    }

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .email >h2{
                    color: white;
                    margin-top: 1.5rem;
                    margin-left: 0.4rem;
        }
    }

.phone{
    border: 2px solid #ffc86b;
    background-color: #27282c;
    width: 25rem;
    display: flex;
    height: 10vh;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .phone{
                    margin-left: 1.5rem;
                    width: 20rem;
           }
        }
    

.phone >img{
    margin: auto;
    margin-left: 0.5rem;
    cursor: pointer;
}
.phone >a{
    color: white;
    text-decoration: none;
    /* border: 2px solid red; */
    margin: 0.8rem auto;
    margin-left: 0.8rem;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .phone >h2{
                    color: white;
                    margin-top: 1.5rem;
                    margin-left: 0.4rem;
        }
    }

.thanks-container{
    /* border: 2px solid red; */
    background-color: #31333b;
    height: 40vh;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .thanks-content >{
                    height: 10vh;
        }
    }

.thanks-content >h1{
    /* border: 2px solid blue; */
    width: 30rem;
    font-size: 45px;
    color: #ffc86b;
    margin: 6rem auto;
}

              /* Responsiveness code */
              @media(min-width: 162px) and (max-width: 460px){
                .thanks-content >h1{
                    width: 21rem;
                    font-size: 33px;
                    margin-top: 6rem;
        }
    }